{% load static from staticfiles  %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>
        <link rel="stylesheet" href="{% static 'css/bot.css' %}">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel='stylesheet prefetch' href='{% static 'css/reset.min.css' %}'>
        <link rel='stylesheet prefetch' href='{% static 'css/font-awesome.min.css' %}'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/hoy3lrg.js' %}"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body style="background-color: #849da2">
        <div id="frame">
            <div id="sidepanel">
                <div id="profile">
                    <div class="wrap">
                        <img id="profile-img" src="{% static 'img/user.jpeg' %}" class="online" alt="" />
                        <p>Ragini</p>
                    </div>
                </div>
                <div id="search">
{#                    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>#}
{#                    <input type="text" placeholder="Search contacts..." />#}
                </div>
                <div id="contacts">
                    <ul>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                <img src="{% static 'img/bot.png' %}" alt="" />
                                <div class="meta">
                                    <p class="name">Skindred</p>
                                    <p class="preview">DermaBot</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="bottom-bar">
                    <button id="addcontact"><i class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i> <span>Make Appointment</span></button>
                    <button id="settings"><i class="fa fa-calendar-check-o fa-fw" aria-hidden="true"></i> <span>Appointment History</span></button>
                </div>
            </div>
            <div class="content">
                <div class="contact-profile">
                    <img src="{% static 'img/bot.png' %}" alt="" />
                    <p>Skindred will assist you with your Derma problems</p>
                    <p style="float: right"><a href="{% url 'logout' %}">Logout</a>&nbsp;&nbsp;</p>
                </div>
                <div class="messages">
                    <ul>
                        <li class="sent">
                            <img src="{% static 'img/bot.png' %}" alt="" />
                            <p>Hello! I am Skindred! Send me your derma doubts!</p>
                        </li>
{#                        <li class="replies">#}
{#                            <img src="{% static 'img/user.jpeg' %}" alt="" />#}
{#                            <p>Hi I am a patient</p>#}
{#                        </li>#}
                    </ul>
                </div>
                <div class="message-input" style="background: white">
                    <div class="wrap">
                        <div id="userInput">
                            <input id="textInput" type="text" name="msg" placeholder="Write your message..." />
{#                            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>#}
                            <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <script>
            $(".messages").animate({ scrollTop: $(document).height() }, "fast");
            $("#profile-img").click(function() {
                $("#status-options").toggleClass("active");
            });
            $(".expand-button").click(function() {
                $("#profile").toggleClass("expanded");
                $("#contacts").toggleClass("expanded");
            });
            $("#status-options ul li").click(function() {
                $("#profile-img").removeClass();
                $("#status-online").removeClass("active");
                $("#status-away").removeClass("active");
                $("#status-busy").removeClass("active");
                $("#status-offline").removeClass("active");
                $(this).addClass("active");
                if($("#status-online").hasClass("active")) {
                    $("#profile-img").addClass("online");
                }
                else if ($("#status-away").hasClass("active")) {
                    $("#profile-img").addClass("away");
                }
                else if ($("#status-busy").hasClass("active")) {
                    $("#profile-img").addClass("busy");
                }
                else if ($("#status-offline").hasClass("active")) {
                    $("#profile-img").addClass("offline");
                }
                else {
                    $("#profile-img").removeClass();
                }
                $("#status-options").removeClass("active");
            });
            function newMessage() {
                let message = $(".message-input input").val();
                if($.trim(message) === '') {
                    return false;
                }
                $('<li class="replies"><img src="{% static 'img/user.jpeg' %}" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
                $.ajax({
                    type: 'GET',
                    url: '/bot/reply/',
                    data: {
                      'usermessage' : message,
                    },
                    datatype:'json',
                    complete: function (d) {
                        let botreply = d.responseJSON.botreply;
                        console.log(d)
                        $('<li class="sent"><img src="{% static 'img/bot.png' %}" alt="" /><p>' + botreply + '</p></li>').appendTo($('.messages ul'));
                    }
                });
                $('.message-input input').val(null);
                $('.contact.active .preview').html('<span>You: </span>' + message);
                $(".messages").animate({ scrollTop: $(document).height() }, "fast");
            }
            $('.submit').click(function() {
                newMessage();
            });
            $(window).on('keydown', function(e) {
                if (e.which === 13) {
                    newMessage();
                    return false;
                }
            });
        </script>
    </body>
</html>